@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}



form{
background: #FFFFFF;
background: linear-gradient(90deg, #FFFFFF, #3D7CFF);
font-family: Montserrat;
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: .2em;
padding: 2%;
}

.input-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.inputs{
  background-color: grey;
  border-radius: 30px;
  border-style: none;
}

 .btn {
   background-color: lightgrey;
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1em;
}

.radiobtn-container{
  display: flex;
 flex-wrap: wrap;
 gap: 1em;
 font-size: 17px;
 font-family: Montserrat;
}