@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,600;1,500&family=Raleway:wght@300&family=Roboto:wght@500&family=Rubik:wght@500&family=Source+Sans+Pro:wght@500&family=Krona+One&display=swap');

*{
    box-sizing : border-box;
    margin:0;
    padding: 0;
}

.topTitle h2{
  color: white;
}

.navbar{
  display: flex;
  padding: 1em;
}

.container{
background-color: #f5f7f99b;
}
.bloc{
  background-color: rgba(225, 225, 225, 0.5);
  border: rgba(233, 229, 229, 0.491) 1px solid;
  padding: 2em;
  border-radius: 2em;
  max-width: 35vw;

}

img{
  width : 100%;
 }

.video{
  z-index:-10000;
  /* filter: blur(5px); */
}

 h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color:white;
  font-weight: 500;
  font-size: 8vw;
 }

 h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
 }

 .links{
  text-decoration: underline;
  color:rgb(66, 64, 64)
 }

.links:hover{
  color: #99b4f0;
}

/*/////////////////////////////////FORM/////////////////////////////////*/
form{
background: rgb(247, 247, 245);
font-family: Montserrat;
display: flex;
flex-wrap: wrap;
flex-direction: column;
padding: 10em;
}

form h1{
font-size: 4em;
}

form h3{
  font-size: 1em;
  font-weight: 400
}

.page-wrapper{
  margin-top:-60em;
};


.centered-block{
  display:flex;
  flex-wrap: wrap;
  background-color: #e9e5e5b6;
  padding: 5em;
  border-radius: 2em;
  width: 50%
}

.centered-block h1{
  font-size: 3em;
}

.centered-block .links{
margin: 1em 0 1em 0;
font-weight: 400;
}

.location{
    display: flex;
    flex-wrap: wrap;
    margin: 0.3em;
    padding: 0.5em;
    gap: .5em;
    font-family: Montserrat;
    font-size: 15px;
    background-color: #f1f1f1;
    color: #999797;
    border-radius: 0.5em;
}


/*/////////////////////////////////CARDS/////////////////////////////////*/

.allCards{
  display: flex;
  flex-wrap: wrap;
}

/* .classicPage{
display: flex;
flex-wrap: wrap;
justify-content: center;
} */

.topTitle{
  font-family: Raleway;
  margin: 1em;

}

.jobApplication{
  background-color:#FFFFFF;
  padding: 2em;
  margin: 3em 1.5em;
  border: .5px solid #d9d6d6;
  border-radius: 20px;
  width: 25%;
}

.jobApplication p{
  font-family: Montserrat;
  font-size: 15px;
  margin: .3em;
  color: #999797;
}

.jobApplication h4{
  font-family: Montserrat;
  font-size: 20px;
  color: #515050;
  margin: 0.5em;

}

.jobApplication h3{
  font-family: Montserrat;
  font-size: 18px;
  color: #2c2b2b;
}


.bigChip{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  font-family: Montserrat;
  margin: 0.3em;
  padding: 0.2em 0.02em;
  gap: 0.1em;
  border-radius: 4em;
}

.chip{
  display: inline;
  color: #b4b4b4;
  background-color: #ebe5f5;
  border: 1px solid #d2c8e4;
  border-radius: .5em;
  padding: .6em;
  align-items: center;
  color: #6340a3;
  font-size: 12px;
  font-family: Montserrat;
  margin: .3em;
}


.flex{
  display: flex;
  flex-wrap: wrap;
}

.card{
  background-color: #F0F0F0;
  border-radius: 5px;
  box-shadow: 0 .5px 3px rgba(0,0,0,0.2);
  margin: 2em;
  padding: 5%;
  text-align: center;
  position: relative;
  width: 50%;
}

.top-card{
background-color: #F0F0F0;
max-width: 100%;
height: 80%;
}


.inside-card{
background-color: #FFFFFF;
border-radius: 5px;
padding: 15%;
max-width: 100%;
height: 90%;
font-family: Montserrat;
font-weight: 700;
font-size: 20px;
}

.transparent{
display: none;
}

.likeOffer{
background-color: red;
}

.matchOffer{
background-color: green;
}

/*/////////////////////////////////INPUTS/////////////////////////////////*/


.inputArray{
  display: flex;
  flex-wrap: wrap;
  color: #b4b4b4;
  border-radius: 15px;
  background-color: #f6f4f4;
  border: 1px solid #cfcdcd;
  padding: .3em .8em;
  font-size: 12px;
  font-family: Montserrat;


}

.input-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.inputs {
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  width: auto;
  background: #e8e8e8;
  margin: 1em;
 }

 label{
  font-weight: 500;
 }

 .inputs:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
 }

label{
  margin-top: .5em;
}


/*/////////////////////////////////BTN/////////////////////////////////*/

.radiobtn-container{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 font-size: 16px;
 font-family: Montserrat;
 font-weight: 500;
 gap:3em;
 margin-top: 1em;
 margin-bottom:2em
}


.buttonNoStyle{
  background: none;
  border: none;
  color: inherit;
  cursor: auto;
  font: inherit;
  line-height: normal;
  padding: 0;
  margin: 0;
  text-align: inherit;
  text-decoration: none;
  user-select: auto;
}

/* CSS */
.btn {
  background-color: #ececec;
  border:none;
  border-radius: 24px;
  box-sizing: border-box;
  color: #3c4043;
  font-family: Roboto;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  letter-spacing: .25px;
  max-width: 100%;
  margin: 1.5em .3em 1em;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  width: 30%;
  height: 30px;
  font-weight: 500;
  z-index: 0;
}

.btn:hover {
  background: #2f2f30;
  color: #f4efef;
}

.btnWP {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10em;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    width: auto;
}
/*/////////////////////////////////WELCOME PAGE/////////////////////////////////*/

.WP-Container{
font-family: Montserrat;
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 1em;
padding: 15em;
}

.WP-Header{
  font-family: Montserrat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 3em;

}

.WP-text{
  font-size: 3em;
  text-align: center;
  margin:0;
  padding:.5em;
}

.WP-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:1em;
  padding-top: .5em;
  }

.msg{
  background-color: aliceblue;
  color: #3c4043;
  border-radius: 60px;
  padding: 1em;
  width: 30%;
  font-family: Montserrat;
  font-weight: 500;
}

.none{
  display: none;
}